USE [master]
GO
/****** Object:  Database [airTickets]    Script Date: 4/11/2024 1:10:49 PM ******/
CREATE DATABASE [airTickets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'airTickets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\airTickets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'airTickets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\airTickets_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [airTickets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [airTickets]
GO
/****** Object:  Table [dbo].[ChuyenBay]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenBay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idMayBay] [int] NOT NULL,
	[maSanBayDi] [varchar](20) NOT NULL,
	[maSanBayDen] [varchar](20) NOT NULL,
	[ngayDi] [smalldatetime] NOT NULL,
	[ngayDen] [smalldatetime] NOT NULL,
	[thoiGianBay] [time](7) NOT NULL,
	[ghiChu] [text] NULL,
	[tinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangThanThiet]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangThanThiet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenHang] [nvarchar](20) NOT NULL,
	[diemTichLuy] [int] NOT NULL,
	[khuyenMai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonVeBan]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonVeBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [varchar](12) NOT NULL,
	[idKhachHangLapHoaDon] [varchar](12) NOT NULL,
	[ngayLapHoaDon] [smalldatetime] NOT NULL,
	[tongTien] [money] NOT NULL,
	[tinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoanVe]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoanVe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idVeMayBay] [int] NOT NULL,
	[phiHoanVe] [money] NOT NULL,
	[lyDoHoan] [text] NOT NULL,
	[ngayHoan] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[cmnd] [varchar](12) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[soDienThoai] [varchar](10) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[ngaySinh] [smalldatetime] NOT NULL,
	[diemTichLuy] [int] NOT NULL,
	[idHangThanThiet] [int] NOT NULL,
	[tinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVeMayBay]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVeMayBay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idChuyenBay] [int] NOT NULL,
	[hangVe] [nvarchar](40) NOT NULL,
	[giaVe] [money] NOT NULL,
	[soLuongVeTong] [int] NOT NULL,
	[soLuongVeCon] [int] NOT NULL,
	[tinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MayBay]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MayBay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](40) NOT NULL,
	[soGheH1] [int] NOT NULL,
	[soGheH2] [int] NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[cmnd] [varchar](12) NOT NULL,
	[soDienThoai] [varchar](10) NOT NULL,
	[ho] [nvarchar](40) NOT NULL,
	[ten] [nvarchar](40) NOT NULL,
	[ngaySinh] [smalldatetime] NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[tinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cmnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanBay]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanBay](
	[maSanBay] [varchar](20) NOT NULL,
	[ten] [nvarchar](40) NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanBay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[userName] [varchar](40) NOT NULL,
	[passWord] [varchar](40) NOT NULL,
	[ngayCap] [smalldatetime] NOT NULL,
	[tinhTrang] [bit] NOT NULL,
	[cmndNhanVien] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeMayBay]    Script Date: 4/11/2024 1:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeMayBay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idHoaDonVeBan] [int] NOT NULL,
	[idKhachHang] [varchar](12) NOT NULL,
	[idLoaiVeMayBay] [int] NOT NULL,
	[tinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD FOREIGN KEY([idMayBay])
REFERENCES [dbo].[MayBay] ([id])
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maSanBayDi])
REFERENCES [dbo].[SanBay] ([maSanBay])
GO
ALTER TABLE [dbo].[ChuyenBay]  WITH CHECK ADD FOREIGN KEY([maSanBayDen])
REFERENCES [dbo].[SanBay] ([maSanBay])
GO
ALTER TABLE [dbo].[HoaDonVeBan]  WITH CHECK ADD FOREIGN KEY([idKhachHangLapHoaDon])
REFERENCES [dbo].[KhachHang] ([cmnd])
GO
ALTER TABLE [dbo].[HoaDonVeBan]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([cmnd])
GO
ALTER TABLE [dbo].[HoanVe]  WITH CHECK ADD FOREIGN KEY([idVeMayBay])
REFERENCES [dbo].[VeMayBay] ([id])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([idHangThanThiet])
REFERENCES [dbo].[HangThanThiet] ([id])
GO
ALTER TABLE [dbo].[LoaiVeMayBay]  WITH CHECK ADD FOREIGN KEY([idChuyenBay])
REFERENCES [dbo].[ChuyenBay] ([id])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([cmndNhanVien])
REFERENCES [dbo].[NhanVien] ([cmnd])
GO
ALTER TABLE [dbo].[VeMayBay]  WITH CHECK ADD FOREIGN KEY([idHoaDonVeBan])
REFERENCES [dbo].[HoaDonVeBan] ([id])
GO
ALTER TABLE [dbo].[VeMayBay]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([cmnd])
GO
ALTER TABLE [dbo].[VeMayBay]  WITH CHECK ADD FOREIGN KEY([idLoaiVeMayBay])
REFERENCES [dbo].[LoaiVeMayBay] ([id])
GO
USE [master]
GO
